# profile for lab: Lab-200 is: courses
iptables -I FORWARD -s 10.10.200.0/24 -d courses.finki.ukim.mk -j ACCEPT

# profile for lab: Lab-118 is: courses, etest
iptables -I FORWARD -s 10.10.118.0/24 -d courses.finki.ukim.mk -j ACCEPT
iptables -I FORWARD -s 10.10.118.0/24 -d etest.finki.ukim.mk -j ACCEPT

