# static file contents: file:/home/dragan/workspace/finki-firewall/src/main/resources/com/dragansah/finkifirewall/clearos-static.config
# some test static profile
iptables -I FORWARD -s 10.10.200.0/24 -d courses.finki.ukim.mk -j ACCEPT

#end static file contents

# profile for lab: Lab-118 is: courses
iptables -I FORWARD -s 10.10.118.0/24 -d courses.finki.ukim.mk -j ACCEPT
iptables -I FORWARD -s 10.10.118.0/24 -d cas.finki.ukim.mk -j ACCEPT
iptables -I FORWARD -s 10.10.118.0/24 -j DROP

